* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: lightblue;
}

nav .nav-options {
  width: 80%;
}

label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  line-height: 80px;
}

.heading{
    display: none;
}

nav ul li .link {
  color: black;
  text-transform: uppercase;
  font-size: 17px;
}

nav ul li .link:hover {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 6px;
}

.menu-btn {
  font-size: 30px;
  color: black;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav .icon-wrapper {
  display: flex;
  float: right;
  margin-right: 8px;
  align-items: center;
}

nav .icon-wrapper .search {
  display: flex;
  margin-right: 4px;
}
nav .icon-wrapper .search input {
  width: 160px;
  height: 35px;
  border: none;
}
nav .icon-wrapper .search .search-icon {
  width: 25px;
  border: 1px solid white;
  height: 35px;
  padding: 3px;
}

nav .icon-wrapper .icon {
  display: flex;
}

nav .icon-wrapper .icon .profile-icon {
  font-size: 22px;
  margin: 4px;
}
nav .icon-wrapper .icon .profile-icon:hover {
  background-color: black;
  color: white;
  height: 33px;
  width: 30px;
  padding: 4px;
}

nav .icon-wrapper .icon .cart-icon {
  font-size: 24px;
  margin: 4px;
}

nav .icon-wrapper .icon .cart-icon:hover {
    background-color: black;
    color: white;
    height: 33px;
    width: 30px;
    padding: 4px;
  }

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li .link {
    font-size: 16px;
  }
}

@media (max-width: 852px) {
  .menu-btn {
    display: inline-block;
    padding-left: 5px;
  }

  ul {
    position: fixed;
    width: 30%;
    height: 100vh;
    background-color: cadetblue;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 40px 0;
    line-height: 20px;
  }
  nav ul li .link {
    font-size: 18px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 580px) {
    .heading{
        display: block;
    }
    label.logo {
        display: none;
      }
      .menu-btn {
        font-size: 22px;
        display: inline-block;
        padding-left: 5px;
      }
}

@media (max-width: 480px) {
    label.logo {
        font-size: 18px;
        padding-left: 6px;
      }
      .menu-btn {
        font-size: 18px;
        display: inline-block;
        padding-left: 5px;
      }
      nav .icon-wrapper .search input{
          width: 80px;
          height: 28px;
      }

      nav .icon-wrapper .search .search-icon{
          height: 28px;
      }

      nav .icon-wrapper .icon .profile-icon{
          font-size: 18px;
      }
      nav .icon-wrapper .icon .cart-icon{
        font-size: 18px;
    }
}

@media (max-width: 392px) {
    label.logo {
      font-size: 14px;
      padding-left: 4px;
    }
  
    .menu-btn {
      font-size: 16px;
      display: inline-block;
    }
    nav ul li .link {
      font-size: 12px;
    }
  }



@media (max-width: 352px) {
  label.logo {
    font-size: 14px;
  }

  .menu-btn {
    font-size: 14px;
    display: inline-block;
  }
  nav ul li .link {
    font-size: 12px;
  }
  nav .icon-wrapper{
      margin-right: 0;
  }

  nav .icon-wrapper .search input{
    width: 40px;
    height: 26px;
}

nav .icon-wrapper .search .search-icon{
    height: 26px;
}

nav .icon-wrapper .icon .profile-icon{
    font-size: 14px;
}
nav .icon-wrapper .icon .cart-icon{
  font-size: 14px;
}
}

@media (max-width: 270px) {
  label.logo {
    font-size: 12px;
  }

  .menu-btn {
    font-size: 12px;
  }
  nav ul li .link {
    font-size: 12px;
  }
}
